<section id="testimonial" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="testimonial-item" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper" style="width: 3700px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);">
                            <div class="owl-item" style="width: 370px;">
                                <div class="item">
                                    <div class="testimonial-inner">
                                        <div class="testimonial-images">
                                            <img class="img-circle" src="assets/img/testimonial/img1.jpg" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <p>
                                                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                                            </p>
                                        </div>
                                        <div class="testimonial-footer">
                                            <i class="fa fa-quote-left"></i>
                                            Steve Austin <a href="#">envato.com </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 370px;">
                                <div class="item">
                                    <div class="testimonial-inner">
                                        <div class="testimonial-images">
                                            <img class="img-circle" src="assets/img/testimonial/img2.jpg" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <p>
                                                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                                            </p>
                                        </div>
                                        <div class="testimonial-footer">
                                            <i class="fa fa-quote-left"></i>
                                            Chelsey Siltanen<a href="#">Microsoft</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 370px;">
                                <div class="item">
                                    <div class="testimonial-inner">
                                        <div class="testimonial-images">
                                            <img class="img-circle" src="assets/img/testimonial/img3.jpg" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <p>
                                                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                                            </p>
                                        </div>
                                        <div class="testimonial-footer">
                                            <i class="fa fa-quote-left"></i>
                                            Pamela Fox<a href="#">Khan Academy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 370px;">
                                <div class="item">
                                    <div class="testimonial-inner">
                                        <div class="testimonial-images">
                                            <img class="img-circle" src="assets/img/testimonial/img4.jpg" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <p>
                                                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                                            </p>
                                        </div>
                                        <div class="testimonial-footer">
                                            <i class="fa fa-quote-left"></i>
                                            janna Hagan<a href="#">Google</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 370px;">
                                <div class="item">
                                    <div class="testimonial-inner">
                                        <div class="testimonial-images">
                                            <img class="img-circle" src="assets/img/testimonial/img5.jpg" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <p>
                                                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                                            </p>
                                        </div>
                                        <div class="testimonial-footer">
                                            <i class="fa fa-quote-left"></i>
                                            Paul Tweedy<a href="#">BBC</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-controls clickable">
                        <div class="owl-pagination">
                            <div class="owl-page active">
                                <span class=""></span>
                            </div>
                            <div class="owl-page">
                                <span class=""></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
