<p>Thanks for contacting us!</p>
<p>We will get back with you as soon as possible!</p>
<p>You're message:</p>
<p>{{message}}</p>
<p>Keep a eye out in you're inbox, sometimes spam folder (Unfortunetly a lot of mail clients still use old means of security and because of this sometimes or emails dont get validated. Not a big deal though, all emails are encrypted and sent via TLS/SSL)</p>
