{% extends "base.html.twig" %}
{% block title %}404 Error{% endblock %}
{% block page_header %}404 Error{% endblock %}
{% block body %}
   <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>404</h1>
                <h4>Page not found!</h4>
                <a href="#" class="mt-30 btn btn-outline btn-lg"><i class="fa fa-home"></i> GET BACK HOME</a>
            </div>
        </div>
    </div> 
{% endblock %}
